target
tmp
.idea
.vscode
*.log
*.iml
*.ipr
*.iws
*.zip
/out
/.idea_modules
/.classpath
/.project
/.settings
.DS_Store
.cache
.classpath
.project
.target
bin/
.settings
node_modules
builds/
app/resource/output
templateCache.js
app/css
.tmp
.data
.sass-cache
node_sort
ew.sublime*
coverage
test-results.xml
._**
build-date.json
bower_components/
src/css/*
karma.run.config.js
*.js.map
/nbproject/private/
mock-server/public/index.json
.clog.toml
.editorconfig
.htmlhintrc
.jshintrc
.jshintignore
.eslintrc
